body {
    background-color: #3F5984;
    background:/* top, transparent red, faked with gradient */
        linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
        ),
        /* bottom, image */
        url("https://upload.wikimedia.org/wikipedia/commons/5/55/A_white_irish_goat.jpg");
    font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
}

#madlib-form {
    color: #fff;
}

#madlib-form input{
    height: auto;
    width: auto;
    display: inline;
}

.top-bar {
    background-color: #243E6A;
    padding: 40px 0 40px 0;
}

.app {
    height: inherit !important;
    width: inherit !important;
}

.upload-button {
    color: #fff;
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 10px 0 10px 0;
    outline: 2px dotted #ddd;
}

.website-title {
    text-align: center;
    color: #fff;
    text-decoration: underline;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 75px;
}

.grooveBorder {
  border-style: groove;
  border-width: 15px;
  margin: 10px;
}
